body{
    background-color: black;

}
.style1
{
 
    width: 13%;
    height: 320px;
    

}
#a{
    background-color: rgb(252, 252, 5);
    border-color: rgb(248, 248, 4);
    width: 150px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    height: 55px;
    
}

.fr{
    margin-left: 10px;
    margin-top:20px;
}
.group{
        height: 88px;
}

#la{
    margin-left: 250px;
    margin-top: -390px;
}
#search{
    width: 450px;
    color: rgb(230, 246, 4);
    height: 40px;
    border-radius: 10px;
    background-color: transparent;
}

.search{
    width: 100px;
    border-radius: 10px;
    height: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color: rgb(213, 245, 6);
    background-color:rgb(241, 249, 5)
}
::placeholder{
    color:white;
    text-size-adjust: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



.con2{ margin-top: 20px;
    
}

.con3{ margin-top: 20px;
    
}

.px{
    margin-left: 250px;
    margin-top: 15px;
}
#px{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ajay{
    margin-left: 1000px;
    margin-top: -400px;
}
#n{
    height: 100px;
}

#sp{
    border-radius: 5px;
    background-color: rgb(240, 252, 5);
    color: black;
    border-color: rgb(250, 241, 3);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.ju{
    margin-left: 250px;
}